body{
    display:flex;
    justify-content:center;
    height:100vh;
    align-items:center;
    margin:0;
    font-family:"courier New",Courier,monospace;

}
.container{
    background-color: aqua;
    height:30vh;
    width:70vh;
    padding:20px 20px 20px 20px;
    margin:10px;

}
.input-container{
    border:solid 2px black;
    padding: 10px;
    border-radius:10px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    
}
.input{
   border:none;
   background-color: transparent;
   outline:none;
   font-size:24px;
   letter-spacing:4px;

}
.input::placeholder{
  letter-spacing:0px;
}
.fa-copy{
    cursor:pointer;
    opacity:0.7;
}
.btn{
    background:black;
    color:white;
    border:none;
    padding:10px 20px;
    margin:10px 0;
    font-size:20px;
    cursor:pointer;
}
.btn:hover{
    background-color: blue;
}
.btn:active{
    transform:scale(0.95);
}
.alert-container{
    position:fixed;
    width:300px;
    height:50px;
    background-color: lightgreen;
    right:20px;
    bottom:20px;
    border-radius:10px;
    box-shadow:0 4px 8px rgba(0,0,0,0);
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:20px;
    transition:0.4s;
}
.active.alert-container{
    right:-300px;
}
